html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  /* line-height: 18px; */
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
  padding-bottom: 24px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 56px;
  background-color: #00b2a0;
  bottom: 8px;
  transform: rotate(35deg);
  margin-left: 26px;
}

.header {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__top{
  position: fixed;
  top: 0;
  left: 0;right: 0;
  background-color: gray;
  z-index: 999;
}

.header__top-inner {
  padding-top: 44px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 184px;
}

.menu__button {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 44px;
}

.menu__list-link {
  padding: 0 0 10px;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.header__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: #0d302c;
  margin-top: auto;
  margin-bottom: 47px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #000;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 92px;
}

.about {
  background-color: #fff;
  padding: 180px 0 188px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-bottom: 100px;
}

.about__text-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about__text {
  max-width: 480px;
  margin-left: 120px;
  margin-bottom: 30px;
}

.expertise {
  padding: 200px 0 200px;
  background-color: #f8f8f8;
}

.expertise__title {
  margin-bottom: 100px;
  text-align: center;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}

.expertise__item {
  width: 350px;
}

.expertise__item--sea {
  width: 220px;
  margin-left: 72px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.title__sea {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  margin-left: 10px;
}

.expertise__item--airplan {
  width: 184px;
  margin-left: 84px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.title__airplan {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
}

.expertise__item--wave {
  width: 206px;
  margin-left: 72px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.title__wave {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-left: 10px;
}


.expertise__inner {
  display: flex;
}

.expertise__info {
  min-width: 346px;
  display: flex;
  flex-direction: column;
}

.expertise__info-item {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: auto;
}

.expertise__info-item span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 24px;
}

.expertise__text-wrapper {
  margin-left: 254px;
}

.expertise__text {
  margin-bottom: 30px;
}

.magic {
  background-color: #fff;
  background-image: url('../images/magic-img.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
  /* padding: 200px 0 316px; */
  
}

.magic__inner{
  width: 510px;
  padding-top: 200px;
}

.magic__title {
  margin-bottom: 100px;
}

.magic__text{
  margin-top: 30px;
}

/* .magic__text {
  max-width: 507px;
  line-height: 24px;
  margin-bottom: 30px;
} */

.portfolio {
  padding: 1px 0 198px;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 212px;
}

.portfolio__content {
  margin-bottom: 224px;
}

.portfolio__filter-button {
  margin-bottom: 50px;
}

.portfolio__button {
  background-color: transparent;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-right: 20px;
}

.mixitup-control-active {
  color: #00b2a0;
}

.portfolio__content-img {
  margin-bottom: 50px;
  display: grid;
  gap: 40px;
}

.portfolio__item-img1 {
  grid-column: 1 / 3;
}

.portfolio__item-img6 {
  grid-column: 3 / 5;
}

.portfolio__item {
  position: relative;
}

portfolio__item-link {
  position: absolute;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.7);
  opacity: 0;
}

.portfolio__item:hover .portfolio__item-link {
  opacity: 0.7;
}

.portfolio__add {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 200px;
}

.portfolio__add-button {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  padding: 24px 91px 24px;
}

.blockquote {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  background-color: #f8f8f8;
  height: 200px;
  margin-bottom: 203px;
}

.blockquote__wrapper {
  padding-top: 80px;
}

.blockquote__author {
  display: block;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
  padding-left: 528px;
}

.portfolio__video {
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.portfolio__numbers {
  display: flex;
  justify-content: space-around;
}

.portfolio__numbers-item {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  color: #01353e;
  margin-bottom: 4px;
}

.portfolio__numbers-item--wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: block;
}

.slider-blog {
  padding-bottom: 200px;
}

.slider-blog__item {
  padding: 260px 0;
  display: flex;
  flex-direction: column;
  margin-left: 600px;
}

.slider-blog__title {
  margin-bottom: 229px;
  text-align: center;
}

.slider-blog__bg {
  background-image: url('../images/slider-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider-blog__inner {
  padding: 77px 0;
}

.slider-blog__item-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  max-width: 600px;
  display: inline-block;
}

.slider-blog__item-description {
  max-width: 408px;
  color: #fff;
  opacity: 0.5;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li+li {
  margin-left: 16px;
}

.slick-dots .slick-active button {
  background-color: #00b2a0;
}

.slick-dots button {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
}

.team {
  padding: 2px 0 204px;
  background-color: #fff;
}

.team__title {
  text-align: center;
  margin-bottom: 212px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__name {
  padding: 25px 0 4px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.team__position {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.pricing {
  padding: 200px 0 200px;
  background-color: #f8f8f8;
}

.pricing__title {
  text-align: center;
  margin-bottom: 184px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

.pricing__item {
  padding: 44px 32px;
  background-color: #fff;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 576px;
}

.pricing__item-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
  text-align: center;
  padding-bottom: 58px;
}

.pricing__item-text--wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  height: 280px;
  margin-bottom: 60px;
}

.pricing__item-text {
  margin-bottom: 20px;
}

.pricing__item-number {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
  text-align: center;
}

.pricing__item-number--dollar {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #01353e;
}

.connection {
  padding: 200px 0 200px;
}

.connection__map {
  padding: 0 224px 0;
}

.connection__title {
  text-align: center;
  margin-bottom: 224px;
}

.connection__inner {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 200px;
}

.connection__inner-form {
  width: 600px;
}

.connection__inner-form input,
.connection__inner-form textarea {
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #dadada;
  padding: 18px 0;
  margin-bottom: 14px;
  font-weight: 400;
}

.connection__inner-form input::placeholder,
.connection__inner-form textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #00b2a0;
}

.connection__inner-form textarea {
  min-height: 140px;
  resize: none;
  margin-bottom: 72px;
}

.connection__inner-form button {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #242121;
  padding: 24px 112px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  cursor: pointer;
}

.connection__contacts {
  margin-left: 32px;
  text-align: start;
  padding: 48px 230px 6px 52px;
  background-color: #f8f8f8;
  width: 600px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: #242121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connection__contact-list {
  margin-bottom: 64px;
}

.connection__phone {
  color: #242121;
}

.connection__address {
  font-family: 'Roboto Condensed', sans-serif;
}

.connection__inner-social {
  text-align: center;
}

.connection__inner-social a {
  margin-left: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: #242121;
}

.connection__inner-social a:hover {
  color: #00b2a0
}

.footer {
  padding: 68px 0;
  background-color: #00b2a0;
}


.footer__logo {
  text-align: center;
  margin: auto;
}

/* --------------------------------------*/

@media (max-width: 1242px) {

  /* .header__title{
    font-size: 140px;
    line-height: 150px;
  } */

  .about,
  .expertise {
    padding: 75px 0;
  }


  .about__inner {
    display: block;
  }

  .about__title {
    margin-bottom: 50px;
    text-align: center;
  }

  .about__text {
    max-width: 100%;
  }

  .expertise__title {
    margin-bottom: 50px;
  }
}

/* ------------------------------------- */

@media (max-width: 1140px) {
  .expertise__items {
    display: block;
  }

  .expertise__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .expertise__inner{
    display: block;
  }

  .expertise__info{
    display: block;
    margin-bottom: 50px;
  }

  .expertise__info-item{
    padding-left: 0;
    padding-top: 60px;
  }

  .expertise__text-wrapper{
    margin-left: 0;
  }
}

/* ---------------------------- */

@media (max-width: 995px) {
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    display: block;
    text-align: center;
    transform: translateY(-200%);
  }

  ul.menu__list {
    padding: 90px 0 15px;
  }

  .menu__list-item+.menu__list-item {
    margin-left: 0;
  }

  .menu__list-link {
    display: block;
    padding: 10px 0;
    color: #fff;
  }

  .header__logo {
    position: relative;
    z-index: 2;
  }

  .header__top-inner{
    margin-bottom: 5px;
  }

  .menu__button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 25px;
    position: relative;
    z-index: 2;
  }

  .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0%);
  }

  .header__top-inner.header__top-inner--active .menu__button path {
    fill: #fff;
  }

  .header__top-inner {
    justify-content: space-between;
    align-items: center;
  }

  .header__title {
    font-size: 120px;
    line-height: 136px;
    margin-bottom: 20px;
  }
}

/* --------------------------------- */

@media (max-width: 768px) {
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    display: block;
    text-align: center;
    transform: translateY(-200%);
  }

  ul.menu__list {
    padding: 90px 0 15px;
  }

  .menu__list-item+.menu__list-item {
    margin-left: 0;
  }

  .menu__list-link {
    display: block;
    padding: 10px 0;
    color: #fff;
  }

  .header__logo {
    position: relative;
    z-index: 2;
  }

  .menu__button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 25px;
    position: relative;
    z-index: 2;
  }

  .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0%);
  }

  .header__top-inner.header__top-inner--active .menu__button path {
    fill: #fff;
  }

  .header__top-inner {
    justify-content: space-between;
    align-items: center;
  }

  .header__title {
    font-size: 120px;
    line-height: 136px;
    margin-bottom: 20px;
  }

  .header__subtitle {
    font-size: 26px;
    line-height: 28px;
  }

  .title {
    font-size: 42px;
    line-height: 50px;
  }

  .title::after{
    width: 4px;
    height: 40px;
    bottom: 10px;
    margin-left: 16px;
  }

  .about__text {
    text-align: start;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}


/* ---------------------------- */

@media (max-width: 440px) {
  .header__title {
    font-size: 24px;
    line-height: 28px;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .title,
  .about__title {
    font-size: 24px;
    line-height: 30px;
  }
}