html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  /* line-height: 18px; */
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
  padding-bottom: 23px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 50px;
  background-color: #00b2a0;
  bottom: 18px;
  /* right: -4px; */
}

.header {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__top-inner {
  padding-top: 44px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  padding: 0 0 10px;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}

.left__item {
  margin-left: 184px;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.header__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 200px;
  color: #0d302c;
  margin-top: auto;
  margin-bottom: 47px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #000;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 92px;
}

.about {
  background-color: #fff;
  padding: 180px 0 187px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
}

.about__text p {
  max-width: 480px;
  margin-left: 120px;
  margin-bottom: 30px;
}

.expertise {
  padding: 200px 0 200px;
  background-color: #f8f8f8;
}

.expertise__title {
  margin-bottom: 100px;
  text-align: center;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}

.expertise__item {
  width: 350px;
}

.expertise__item-sea {
  width: 220px;
  margin-left: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise__item-airplan {
  width: 184px;
  margin-left: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise__item-wave {
  width: 206px;
  margin-left: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise__item-title {
  text-align: center;
  /* padding-;right: 74px */
  line-height: 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 15px;
}

.expertise__item-text {
  /* width: 350px; */
  line-height: 18px;
  padding-right: 20px;
}

.expertise__inner {
  display: flex;
}

.expertise__info {
  min-width: 346px;
  display: flex;
  flex-direction: column;
  /* margin-top: 15px;
  margin-right: 255px;
  flex: none; */
}

.expertise__info-item {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: auto;

  /* border-top: 2px solid #1d1d1d;
  padding: 2px 0 28px;
  line-height: 19px;
  position: relative; */
}

.expertise__info-item span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 24px;


  /* display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px; */
}

/* .expertise__info-item span::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f0f0f0;
  right: -7px;
  top: -2px;
  width: 100%;
} */

.expertise__text {
  margin-left: 254px;
}

.expertise__text p {
  margin-bottom: 30px;
}

.magic {
  background-color: #fff;
  background-image: url('../images/magic-img.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
}

.magic__inner {
  padding: 200px 0 317px;
}

.magic__title {
  margin-bottom: 100px;
}

.magic__text p {
  max-width: 507px;
  margin-bottom: 30px;
}